.float-radial{
    animation: bounce 1s ease-in-out alternate forwards infinite;
}

.float-radial:nth-of-type(2){
    animation: bounce 1s ease-in-out alternate forwards infinite;
}

.hero-image-container{
    /* animation: bounce 1s ease-in-out alternate forwards infinite; */

}

div.project-item:hover .project-item-image {
    /* animation: imageScaleUp .8s forwards ease; */
    width: 125%;
    
}

 div.project-item:hover .project-header{
    bottom: 0;
    /* animation: slideToTop 1s forwards alternate ease; */
}

/* ======= navbar animation ======= */
/* for dropdown */
@keyframes drop {
    0%{
        top: 0%;
        opacity: 0;
    }
    50%{
        opacity: 0.1;
    }
    100%{
        top: 100%;
        opacity: 1;
    }
}

@keyframes takeup {
    0%{
        top: 100%;
        opacity: 1;
    }
    
    100%{
        top: 0%;
        opacity: 0;
    }
}
/* for dropdown */

/* for hamburger icon flip */

div.hamburger{
    transition: all .3s ease-in-out;
    transform: rotate(0);
}

div.hamburger:active{
    opacity: 0;
    transform: rotate(360deg) scale(2);
}

@keyframes iconflip {
    0%{
    }
    100%{
    }
}
/* for hamburger icon flip */


@keyframes bounce {
    0%{
        margin-top: -20px;
    }
    100%{
        margin-top: initial;
    }
}

@keyframes imageScaleUp {
    0%{
        background-size: 100%;
    }

    100%{
        background-size: 150%;
    }
}

@keyframes slideToTop {
    0%{
        bottom: -60%;
    }

    100%{
        bottom: 0;
    }
}